<!DOCTYPE html>
<html lang="en">

<head>
  <title>Lovesome</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>

<body>
  <div>
    <p>
      <label for="word2">第二个字母: </label>
      <input type="text" name="word2" placeholder="S">
    </p>

    <p>
      <label for="word3">第三个字母: </label>
      <input type="text" name="word3" placeholder="H">
    </p>

    <button id="submit">提交</button>
  </div>
  <div class="image">
    <img id="lovesome" src="./static/ISH.jpg" alt="">
  </div>
  <script src="http://apps.bdimg.com/libs/superagent/0.15.7/superagent.min.js"></script>
  <script src="./main.js"></script>
</body>

</html>