<!DOCTYPE html>
<html lang="en">

<head>
  <title>Lovesome</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/ico" href="./favicon.ico" />
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>

<body>
  <div class="wrapper">
    <div class="header">
      <p>
        <input type="text" name="word2" required placeholder="第二个字母: S">
        <input type="text" name="word3" required placeholder="第三个字母: H">
      </p>

      <button id="submit">Make</button>
    </div>
    <div class="image">
      <img id="lovesome" src="./static/ISH.jpg" alt="">
    </div>
  </div>
  <div class="copyright">
    <p>Make with <span class="heart">❤</span> by <a href="https://www.noddl.me/">Dcalsky</a></p>
    <a class="github-button" href="https://github.com/dcalsky/lovesome" data-icon="octicon-star" data-count-href="/dcalsky/lovesome/stargazers"
      data-count-api="/repos/dcalsky/lovesome#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star dcalsky/lovesome on GitHub">Star</a>
  </div>
  <script src="http://apps.bdimg.com/libs/superagent/0.15.7/superagent.min.js"></script>
  <script src="./main.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>